<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="/lib/bootstrap.min.css" rel="stylesheet">
  <link href="/lib/common.css" rel="stylesheet">
  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/moment.min.js"></script>
  <script src="/lib/zh-cn.js"></script>
  <script src="/lib/bootstrap.min.js"></script>
  <script src="/lib/vue.js"></script>
  <script src="/lib/axios.js"></script>
  <script src="/lib/commom.js"></script>
  <title>Exam</title>
  <style>
    textarea.form-control {
      height: calc(100% - 3rem);
    }

    #vue_main {
      height: 100vh;
      overflow-y: auto;
    }

    .panel {
      height: calc(100vh - 64px);
      overflow-y: auto;
    }

    .panel button {
      width: 5rem;
    }

    textarea {
      resize: none;
    }

    #alert {
      position: fixed;
      top: 56px;
      left: 10rem;
      z-index: 999;
      right: 10rem;
    }
  </style>
</head>
<body>
<div id="vue_main">
  <div class="alert alert-danger alert-dismissible fade d-none" id="alert" role="alert">
    请注意考试即将结束
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark p-0 shadow-sm">
    <span class="navbar-brand ml-3">{{ exam.title }}</span>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
          选题
        </a>
        <div aria-labelledby="navbarDropdown" class="dropdown-menu">
          <a class="dropdown-item" v-for="n in exercises.length" v-on:click="setPanel(n)">{{n}}</a>
        </div>
      </li>
    </ul>
    <span class="text-info mr-3" id="timer"></span>
  </nav>
  <main class="container-fluid" role="main">
    <div>
      <div :id="'exercise-' + index" :key="index" class="tab-pane fade show row d-none"
           role="tabpanel"
           v-for="(exercise, index) in exercises">
        <div class="px-3 w-50 float-left panel">
          <div class="h3 d-flex justify-content-between">
            <span>{{ index + 1 }}. {{ exercise.title }}</span>
            <span class="badge badge-light">{{ exercise.score }}分</span>
          </div>
          <pre>{{ exercise.description }}</pre>
          <div class="mb-2">
            <span class="mt-1 font-weight-bold" data-toggle="collapse" v-bind:href="'#inputSQL-' + index">
              表结构
              <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
            </span>
            <span v-on:click="copySQL(index)">
              <svg height="24" viewBox="0 0 1024 1024" width="24" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M571.52 909.44H280.96c-61.44 0-111.36-49.92-111.36-111.36V387.2c0-61.44 49.92-111.36 111.36-111.36h290.56c61.44 0 111.36 49.92 111.36 111.36v410.88c0 61.44-49.92 111.36-111.36 111.36z m-290.56-569.6c-26.24 0-47.36 21.12-47.36 47.36v410.88c0 26.24 21.12 47.36 47.36 47.36h290.56c26.24 0 47.36-21.12 47.36-47.36V387.2c0-26.24-21.12-47.36-47.36-47.36H280.96z"
                fill="#515151"></path>
            <path
                d="M775.68 742.4c-17.92 0-32-14.08-32-32V333.44c0-66.56-53.76-120.32-120.32-120.32h-256c-17.92 0-32-14.08-32-32s14.08-32 32-32h256c101.76 0 184.32 82.56 184.32 184.32V710.4c0 17.28-14.08 32-32 32z"
                fill="#515151"></path>
          </svg>
            </span>
          </div>
          <div :id="'inputSQL-' + index" class="collapse">
            <pre class="code">{{ exercise.inputSQL }}</pre>
          </div>
          <span class="mt-1 font-weight-bold">初始数据</span>
          <div v-for="table in exercise.inputData">
            <label>表：{{ table.name }}</label>
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col" v-for="column in table.columns">{{ column }}</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="row in table.data">
                <td v-for="item in row">{{ item }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="px-3 w-50 float-left panel">
          <textarea class="form-control" placeholder="请写下 SQL 语句" v-model="exercise.answer"></textarea>
          <div class="d-flex justify-content-between">
            <button class="btn btn-secondary mt-1" v-on:click="prevPanel(index)">上一题</button>
            <button class="btn btn-primary mt-1" v-on:click="nextPanel(index)">下一题</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="modal fade" id="submitModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">交卷</h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          试卷提交后不能继续答题，确定交卷？
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" v-on:click="submitAnswerSheet">交卷并离开
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="finishModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">考试结束</h5>
        </div>
        <div class="modal-body">
          考试已经结束，不能继续作答。请在5分钟内交卷
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" v-on:click="submitAnswerSheet">交卷并离开</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    function showErrorMsg(msg) {
        alert(msg);
    }

    function handleResponse(res, cb) {
        switch (res.data.status) {
            case 200:
                cb(res);
                break;
            case 4001:
                showErrorMsg("考试不存在");
                break;
            case 4002:
                showErrorMsg("本场考试已被取消");
                break;
            case 4003:
                showErrorMsg("考试已经结束");
                break;
            case 4004:
                showErrorMsg("考试尚未开始");
                break;
            case 4005:
                showErrorMsg("已经交卷，无法继续作答");
                break;
        }
    }

    const vueMain = new Vue({
        el: "#vue_main",
        async created() {
            const examId = getUrlParams("id");
            if (examId == null) {
                showErrorMsg("考试参数错误，请检查链接是否正确");
                return
            }
            await axios.get(`/student/exam/${examId}`)
                .then(res => {
                    handleResponse(res, res => this.exam = res.data.data);
                });
            if (this.exam.exercises == null) {
                return;
            }
            // this.exam.endTime = moment().unix() + 15;
            const remain = this.exam.endTime - moment().unix();
            console.log(remain);
            this.backupKey = `exam-${this.exam.id}`;
            await axios.get(`/student/exam/${this.exam.id}/exercise`)
                .then(res => {
                    handleResponse(res, res => this.exercises = res.data.data);
                });
            try {
                const backup = JSON.parse(window.localStorage.getItem(this.backupKey));
                if (backup) {
                    for (let i = 0; i < this.exercises.length; i++) {
                        Vue.set(this.exercises[i], "answer", backup.answers[i]);
                    }
                }
            } catch (e) {
                console.log(e);
            }
            $('#finishModal').modal({
                show: false,
                backdrop: 'static',
                keyboard: false
            });
            const timer = $("#timer");
            const interval = setInterval(() => {
                const now = moment().unix();
                const diff = this.exam.endTime - now;
                if (diff >= 0) {
                    const minutes = Math.floor(diff / 60).toString().padStart(2, '0');
                    const seconds = Math.floor(diff - 60 * minutes).toString().padStart(2, '0');
                    timer.text(`${minutes}:${seconds}`);
                }
                this.backup();
            }, 1000);
            console.log(interval);
            setTimeout(() => {
                console.log("exam finish");
                clearInterval(interval);
                this.backup();
                $("textarea").attr("readonly", "true");
                $("#finishModal").modal("show");
            }, 1111000);
            //
            // const showAlert = remain - 300;
            // if (showAlert > 0) {
            //     setTimeout(() => {
            //         $("#alert").removeClass("d-none").addClass("show");
            //     }, showAlert * 1000);
            // }

            this.$nextTick(() => {
                $("#exercise-0").addClass("active").removeClass("d-none");
                $(`#exercise-${this.exercises.length - 1} button`).last().text("交卷");
                $("#exercise-0 button").first().attr("disabled", "true")
            })
        },
        data: {
            exam: {},
            exercises: [],
            answerSheet: null,
            backupKey: null,
        },
        methods: {
            backup() {
                console.log(JSON.stringify(this.exercises[0].answer));
                const answerSheet = {
                    answerSheet: {
                        exam: this.exam.id,
                    },
                    answers: [],
                };
                this.exercises.forEach(e => {
                    const answer = {
                        exercise: e.id,
                        inputSQL: e.answer,
                    };
                    answerSheet.answers.push(answer);
                });
                window.localStorage.setItem(this.backupKey, JSON.stringify(answerSheet));
            },
            submitAnswerSheet() {
                axios.post("/student/exam/answer_sheet", JSON.parse(window.localStorage.getItem(this.backupKey)))
                    .then(res => {
                        handleResponse(res, () => {
                            window.localStorage.removeItem(`exam-${this.exam.id}`);
                            window.location = "/view/student.html"
                        });
                    })
            },
            setPanel(n) {
                $("div.tab-pane.fade.show.row.active").addClass("d-none").removeClass("active");
                $(`#exercise-${(n - 1)}`).addClass("active").removeClass("d-none");
            },
            switchPanel(old, now) {
                $(`#exercise-${old}`).addClass("d-none").removeClass("active");
                $(`#exercise-${(now)}`).addClass("active").removeClass("d-none");
            },
            nextPanel(index) {
                if (index < this.exercises.length - 1) {
                    this.switchPanel(index, index + 1);
                } else {
                    $('#submitModal').modal("show");
                }
            },
            prevPanel(index) {
                if (index > 0) {
                    this.switchPanel(index, index - 1);
                }
            },
            copySQL(index) {
                navigator.clipboard.writeText(this.exercises[index].inputSQL).then(function () {
                    console.log('Async: Copying to clipboard was successful!');
                }, function (err) {
                    console.error('Async: Could not copy text: ', err);
                });
            }
        }
    })
</script>
</body>
</html>