<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="/lib/bootstrap.min.css" rel="stylesheet">
  <link href="/lib/sidebar.css" rel="stylesheet">
  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/moment.min.js"></script>
  <script src="/lib/zh-cn.js"></script>
  <script src="/lib/bootstrap.min.js"></script>
  <script src="/lib/vue.js"></script>
  <script src="/lib/axios.js"></script>
  <script src="/lib/commom.js"></script>
  <title>Student</title>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow-sm">
  <span class="navbar-brand col-sm-3 col-md-2 mr-0">SQL Judger</span>
</nav>

<div class="container-fluid">
  <div class="row" id="vue_main">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <nav class="nav nav-pills flex-column" id="nav_tabs">
          <a class="nav-link" data-toggle="pill" href="#home" role="tab">
            Dashboard
          </a>
          <a class="nav-link active" data-toggle="pill" href="#exam" role="tab">
            考试安排
          </a>
          <!--          <a class="nav-link" data-toggle="pill" href="#clazz" role="tab">-->
          <!--            班级管理-->
          <!--          </a>-->
          <!--          <a class="nav-link" data-toggle="pill" href="#teaching" role="tab">-->
          <!--            授课管理-->
          <!--          </a>-->
          <!--          <a class="nav-link" data-toggle="pill" href="#student" role="tab">-->
          <!--            学生管理-->
          <!--          </a>-->
        </nav>
      </div>
    </nav>

    <main class="col-md-9 ml-sm-auto col-lg-10 px-4 tab-content" role="main">
      <div class="tab-pane fade show" id="home" role="tabpanel">
        <h2 class="h2 mb-3">Dashboard</h2>
        <h3 class="h3">Section title</h3>
      </div>
      <div class="tab-pane fade show active" id="exam" role="tabpanel">
        <h2 class="h2 mb-3">考试安排</h2>
        <div v-if=" this.exams.length === 0">
          <p>当前没有考试</p>
        </div>
        <div class="card mb-5 shadow-sm" v-for="exam in exams">
          <div class="card-header">
            <span class="h4">{{ exam.id }}. {{ exam.title }}</span>
            <span class="badge badge-primary ml-2">{{ getBadgeText(exam) }}</span>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <p class="card-text">考试时间: {{ unixEpochToString(exam.startTime) }} ~
                  {{ unixEpochToString(exam.endTime) }}</p>
              </div>
              <div class="align-middle">
                <a :id="'btn-' + exam.id" class="btn btn-danger align-middle" target="_blank"
                   v-bind:href="'/view/student/exam.html?id=' + exam.id" v-show="answerable(exam)">进入考试
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script>
    moment.locale('zh-cn');
    const vueMain = new Vue({
        el: '#vue_main',
        data() {
            return {
                exercises: [],
                exams: [],
            }
        },
        created() {
            this.loadExams();
        },
        methods: {
            answerable(exam) {
                if (exam.status !== 0 || moment().isAfter(exam.endTime * 1000))
                    return false;
                const diff = exam.startTime - moment().unix();
                if (diff <= 0)
                    return true;
                if (diff < 1800) {
                    setTimeout(() => {
                        $(`#btn-${exam.id}`).removeAttr("style");
                    }, diff * 1000);
                }
                return false;
            },
            unixEpochToString(second) {
                return moment.unix(second).format("YYYY-MM-DD HH:mm");
            },
            getBadgeText(exam) {
                if (exam.status === 1)
                    return "已取消";
                const now = moment();
                if (now.isBefore(exam.startTime * 1000)) {
                    return "未开始";
                }
                if (now.isAfter(exam.endTime * 1000)) {
                    return "已结束";
                }
                return "进行中";
            },
            loadTeachings() {
                loadEntity("/teacher/teaching", this.teachings);
            },
            loadExams() {
                loadEntity("/student/exam", this.exams);
            },
        }
    });
</script>
</body>
</html>