<!DOCTYPE html>
<!--suppress CssUnusedSymbol -->
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="/lib/bootstrap.min.css" rel="stylesheet">
  <link href="/lib/sidebar.css" rel="stylesheet">
  <link href="/lib/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/moment.min.js"></script>
  <script src="/lib/zh-cn.js"></script>
  <script src="/lib/bootstrap.js"></script>
  <script src="/lib/bootstrap-datetimepicker.min.js"></script>
  <script src="/lib/vue.js"></script>
  <script src="/lib/axios.js"></script>
  <script src="/lib/commom.js"></script>
  <style>
    .exercise-description {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 60ch;
    }

    .exercise-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 20ch;
    }

    .exercise-operation {
      width: 8rem;
    }

    @font-face {
      font-family: 'Glyphicons Halflings';
      src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
      src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
    }

    .glyphicon {
      position: relative;
      top: 1px;
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
    }

    .glyphicon-chevron-left:before {
      content: "\e079";
    }

    .glyphicon-chevron-right:before {
      content: "\e080";
    }

    .glyphicon-chevron-up:before {
      content: "\e113";
    }

    .glyphicon-chevron-down:before {
      content: "\e114";
    }
  </style>
  <title>Teacher</title>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow-sm">
  <span class="navbar-brand col-sm-3 col-md-2 mr-0">SQL Judger</span>
</nav>

<div class="container-fluid">
  <div class="row" id="vue_main">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <nav class="nav nav-pills flex-column" id="nav_tabs">
          <a class="nav-link active" data-toggle="pill" href="#home" role="tab">
            Dashboard
          </a>
          <a class="nav-link" data-toggle="pill" href="#exercise" role="tab" v-on:click.once="loadExercises">
            题目列表
          </a>
          <a class="nav-link" data-toggle="pill" href="#add-exercise" role="tab" v-on:click.once="loadExercises">
            创建题目
          </a>
          <a class="nav-link" data-toggle="pill" href="#exam" role="tab">
            考试安排
          </a>
          <a class="nav-link" data-toggle="pill" href="#add-exam" role="tab" v-on:click.once="loadExercises">
            创建考试
          </a>
        </nav>
      </div>
    </nav>

    <main class="col-md-9 ml-sm-auto col-lg-10 px-4 tab-content" role="main">
      <div class="tab-pane fade show active" id="home" role="tabpanel">
        <h2 class="h2 mb-3">Dashboard</h2>
        <div class="row">
          <div class="col-6">
            <div class="card border-primary shadow-sm">
              <div class="card-header">考试安排</div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-danger">{{ this.countExams.progressing }} 项进行中</li>
                  <li class="list-group-item text-primary">{{ this.countExams.notStarted }} 项未开始</li>
                  <li class="list-group-item text-info">{{ this.countExams.finished }} 项已结束</li>
                  <li class="list-group-item text-muted">{{ this.countExams.cancel }} 项已取消</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card border-info shadow-sm">
              <div class="card-header">教授班级</div>
              <div class="card-body text-info">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" v-for="teaching in teachings">{{ teaching.clazz.grade }} {{
                    teaching.clazz.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="exercise" role="tabpanel">
        <h2 class="h2 mb-3">题目列表</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">标题</th>
              <th scope="col">描述</th>
              <th scope="col">分数</th>
              <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="exercise in exercises">
              <th scope="row">{{ exercise.id }}</th>
              <td class="exercise-title">{{ exercise.title }}</td>
              <td class="exercise-description">{{ exercise.description }}</td>
              <td>{{ exercise.score }}</td>
              <td class="exercise-operation">
                <button class="btn btn-primary btn-sm" v-on:click="showExercise(exercise)">
                  详情
                </button>
                <button class="btn btn-danger btn-sm" v-if="deleteable(exercise)" v-on:click="deleteExercise(exercise)">
                  删除
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="modal fade" id="exerciseModal" role="dialog" tabindex="-1">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">题目详情</h5>
                <button class="close" data-dismiss="modal" type="button">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="h5">{{ selectExercise.title }}</p>
                <pre>{{ selectExercise.description }}</pre>
                <div v-if="selectExercise.inputSQL">
                  表结构
                  <pre class="code"><code>{{ selectExercise.inputSQL }}</code></pre>
                </div>
                <div v-if="selectExercise.inputData">
                  输入数据
                  <p class="code">{{ JSON.stringify(selectExercise.inputData) }}</p>
                </div>
                SQL代码
                <pre class="code"><code>{{ selectExercise.expectedSQL }}</code></pre>
                期望输出
                <p class="code">{{ JSON.stringify(selectExercise.expectedData) }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="add-exercise" role="tabpanel">
        <h2 class="h2 mb-3">创建题目</h2>
        <section class="mt-3">
          <h3 class="h3">基本信息</h3>
          <div class="form-group">
            <label for="exerciseTitleInput">标题</label>
            <input class="form-control" id="exerciseTitleInput" placeholder="标题" required v-model="exercise.title">
          </div>
          <div class="form-group">
            <label for="scoreInput">分数</label>
            <input class="form-control" id="scoreInput" min="0" placeholder="分数" type="number" v-model="exercise.score">
          </div>
          <div class="form-group">
            <label for="describeInput">题目描述</label>
            <textarea class="form-control" id="describeInput" required rows="3"
                      v-model="exercise.description"></textarea>
          </div>
        </section>
        <section class="mt-5">
          <h3 class="h3">输入数据</h3>
          <div class="form-group">
            <label for="inputSQLInput">表结构和初始数据</label>
            <textarea class="form-control" id="inputSQLInput" placeholder="SQL语句，可为空" rows="3"
                      v-model="exercise.inputSQL"></textarea>
            <div class="d-flex justify-content-end">
              <button class="btn btn-outline-secondary mt-1" id="inputBtn" type="button" v-on:click="getInputData">
                生成输入数据
              </button>
            </div>
          </div>
          <div v-for="table in exercise.inputData">
            <label>表格：{{ table.name }}</label>
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col" v-for="column in table.columns">{{ column }}</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="row in table.data">
                <td v-for="item in row">{{ item }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </section>
        <section class="mt-5">
          <h3 class="h3">期望输出</h3>
          <div class="form-group">
            <textarea class="form-control" placeholder="SQL语句" rows="3" v-model="exercise.expectedSQL"></textarea>
            <div class="d-flex justify-content-end mt-1">
              <button class="btn btn-outline-secondary" type="button" v-on:click="getexpectedData">生成期望输出</button>
            </div>
          </div>
          <textarea class="form-control" placeholder="期望输出预览" readonly rows="3">{{ expectedDataJson }}</textarea>
        </section>
        <section class="d-flex justify-content-center mt-5 mb-5">
          <button class="btn btn-outline-primary btn-lg w-25" v-on:click="addExercise">完成</button>
        </section>
      </div>
      <div class="tab-pane fade show" id="exam" role="tabpanel">
        <h2 class="h2 mb-3">考试安排</h2>
        <div class="card mb-5 shadow-sm" v-for="exam in exams">
          <div class="card-header">
            <span class="h4">{{ exam.title }}</span>
            <span class="badge badge-primary ml-2">{{ getBadgeText(exam) }}</span>
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div>
                <p class="card-text">考试时间: {{ unixEpochToString(exam.startTime) }} ~
                  {{ unixEpochToString(exam.endTime) }}</p>
                <p class="card-text">考试班级: {{ exam.clazz.grade }} {{ exam.clazz.name }}</p>
              </div>
              <div class="align-middle">
                <button class="btn btn-danger align-middle" v-if="cancelable(exam)" v-on:click="cancelExam(exam)">取消
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="add-exam" role="tabpanel">
        <h2 class="h2 mb-3">创建考试</h2>
        <section>
          <h3 class="h3">基本信息</h3>
          <div class="form-group">
            <label for="examTitleInput">标题</label>
            <input class="form-control" id="examTitleInput" placeholder="标题" required v-model="exam.title">
          </div>
          <div class="form-group">
            <label>选择班级</label>
            <div class="form-check" v-for="teaching in teachings">
              <input class="form-check-input" type="checkbox" v-bind:value="teaching.clazz.id" v-model="checkedClazzs">
              <label class="form-check-label">
                {{ teaching.clazz.grade }} {{ teaching.clazz.name }}
              </label>
            </div>
          </div>
          <div class="form-group form-inline justify-content-around">
            <div id='datetimepicker1'></div>
            <div id='datetimepicker2'></div>
          </div>
          <label>选择题目</label>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">标题</th>
                <th scope="col">分数</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="exercise in exercises">
                <th scope="row">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-bind:value="{id: exercise.id}"
                           v-model="exam.exercises">
                    <label class="form-check-label">{{ exercise.id }}</label>
                  </div>
                </th>
                <td>{{ exercise.title }}</td>
                <td>{{ exercise.score }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </section>

        <section class="d-flex justify-content-center mt-5 mb-5">
          <button class="btn btn-outline-primary btn-lg w-25" v-on:click="addExam">完成</button>
        </section>
      </div>
    </main>
  </div>
</div>
<script>
    moment.locale('zh-cn');
    let currentTeacher;
    axios.get("/teacher/profile")
        .then(res => {
            if (res.data.status === 200) {
                currentTeacher = res.data.data;
            } else {
                console.log(res.data);
                window.location.reload();
            }
        })
        .catch(reason => {
            console.log(reason);
            window.location.reload();
        });
    $(document).ready(function () {
        const $datetimepicker1 = $('#datetimepicker1');
        const $datetimepicker2 = $('#datetimepicker2');
        $datetimepicker1.datetimepicker({
            minDate: Date.now(),
            inline: true,
            sideBySide: true,
        });
        $datetimepicker2.datetimepicker({
            minDate: Date.now(),
            inline: true,
            sideBySide: true,
            useCurrent: false
        });
        $datetimepicker1.on("dp.change", function (e) {
            $datetimepicker2.data("DateTimePicker").minDate(e.date);
            vueMain.exam.startTime = e.date.unix();
        });
        $datetimepicker2.on("dp.change", function (e) {
            console.log(e);
            $datetimepicker1.data("DateTimePicker").maxDate(e.date);
            vueMain.exam.endTime = e.date.unix();
        });
    });
    const vueMain = new Vue({
        el: '#vue_main',
        data() {
            return {
                exercises: [],
                exercise: {
                    title: "",
                    description: "",
                    score: "10",
                    inputSQL: "",
                    inputData: null,
                    expectedSQL: "",
                    expectedData: null,
                },
                teachings: [],
                exam: {
                    title: null,
                    startTime: null,
                    clazz: {},
                    endTime: null,
                    exercises: [],
                },
                exams: [],
                countExams: {
                    cancel: 0,
                    finished: 0,
                    progressing: 0,
                    notStarted: 0,
                },
                checkedClazzs: [],
                selectExercise: {},
            }
        },
        created() {
            this.loadTeachings();
            this.loadExams();
        },
        watch: {
            exams() {
                let cancel = 0, finished = 0, progressing = 0, notStarted = 0;
                this.exams.forEach(exam => {
                    if (exam.cancel) {
                        cancel++;
                        return
                    }
                    if (moment().isBefore(exam.startTime * 1000)) {
                        notStarted++;
                        return
                    }
                    if (moment().isAfter(exam.endTime * 1000)) {
                        finished++;
                        return
                    }
                    progressing++;
                });
                this.countExams.cancel = cancel;
                this.countExams.finished = finished;
                this.countExams.progressing = progressing;
                this.countExams.notStarted = notStarted;
            }
        },
        computed: {
            expectedDataJson() {
                if (this.exercise.expectedData != null)
                    return JSON.stringify(this.exercise.expectedData);
                else
                    return "";
            }
        },
        methods: {
            deleteable(exercise) {
                return exercise.teacher.number === currentTeacher.number;
            },
            cancelable(exam) {
                if (exam.cancel) return false;
                return moment().isBefore(exam.startTime * 1000);

            },
            unixEpochToString(second) {
                return moment.unix(second).format("YYYY-MM-DD HH:mm");
            },
            getBadgeText(exam) {
                if (exam.cancel)
                    return "已取消";
                const now = moment();
                if (now.isBefore(exam.startTime * 1000)) {
                    return "未开始";
                }
                if (now.isAfter(exam.endTime * 1000)) {
                    return "已结束";
                }
                return "进行中";
            },
            getInputData() {
                axios.post("/teacher/sql/retrieve", this.exercise.inputSQL, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then((response) => {
                    console.log(response.data);
                    if (response.data.status === 200) {
                        this.exercise.inputData = response.data.data;
                    } else {
                        alert(response.data.msg);
                    }
                })
                    .catch(reason => {
                        console.log(reason);
                    })
            },
            getexpectedData() {
                axios.post("/teacher/sql/excute", {
                    schema: this.exercise.inputSQL,
                    excute: this.exercise.expectedSQL
                }, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then((response) => {
                    console.log(response.data);
                    if (response.data.status === 200) {
                        this.exercise.expectedData = response.data.data;
                    } else {
                        alert(response.data.msg);
                    }
                }).catch(reason => console.log(reason))
            },
            showExercise(exercise) {
                this.selectExercise = exercise;
                $('#exerciseModal').modal('show');
            },
            loadExercises() {
                if (this.exercises.length === 0)
                    loadEntity("/teacher/exercise", this.exercises);
            },
            deleteExercise(exercise) {
                axios.delete(`/teacher/exercise/${exercise.id}`)
                    .then(res => {
                        if (res.data.status === 200 && res.data.data) {
                            deleteElement(this.exercises, exercise);
                        } else if (res.data.status === 400) {
                            alert("该题目已被引用，无法删除");
                        }
                    })
            },
            addExercise() {
                console.log(this.exercise);
                if (this.exercise.inputSQL && !this.exercise.inputData) {
                    alert("请生成输入数据预览");
                    return
                }
                if ((this.exercise.expectedSQL && !this.exercise.expectedData)) {
                    alert("请生成期望输出预览");
                    return
                }
                if (!this.exercise.title || !this.exercise.description) {
                    alert("请输入基本信息");
                    return
                }
                axios.post("/teacher/exercise", this.exercise)
                    .then((response) => {
                        console.log(response.data);
                        if (response.data.status === 200) {
                            this.exercises.push(response.data.data);
                            alert("已添加");
                        } else {
                            alert(response.data.msg);
                        }
                    }).catch(reason => console.log(reason))
            },
            loadTeachings() {
                loadEntity("/teacher/teaching", this.teachings);
            },
            addExam() {
                console.log(this.exam);
                if (!this.exam.title) {
                    alert("请输入标题");
                    return
                }
                if (this.checkedClazzs.length === 0) {
                    alert("请选择至少选择一个班级");
                    return
                }
                if (!this.exam.startTime) {
                    alert("请设置考试开始时间");
                    return
                }
                if (!this.exam.endTime) {
                    alert("请设置考试结束时间");
                    return
                }
                if (this.exam.exercises.length === 0) {
                    alert("请选择至少选择一到题目");
                    return
                }
                this.checkedClazzs.forEach(clazz => {
                    this.exam.clazz.id = clazz;
                    axios.post("/teacher/exam", JSON.stringify(this.exam), {
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(res => {
                            console.log(res);
                            axios.get(`/teacher/exam/${res.data.data}`)
                                .then(res => {
                                    console.log(res);
                                    this.exams.push(res.data);
                                }).catch(reason => console.log(reason));
                        })
                        .catch(reason => console.log(reason));
                })
            },
            loadExams() {
                loadEntity("/teacher/exam", this.exams);
            },
            cancelExam(exam) {
                axios.put(`/teacher/exam/${exam.id}/cancel`)
                    .then(res => {
                        console.log(res);
                        exam.cancel = true;
                    })
                    .catch(reason => console.log(reason));
            }
        }
    });
</script>
</body>
</html>